.nameFilterContainer {
	display: block;
	width: 100%;
    text-align: center;
}
.nameFilterContainer input {
	height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: solid 1px #337ab7
}
.input_btn {
	background: #337ab7;
    color: white;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 40px;
    padding: 6px 12px;
}
.search_input {
	width: 340px;
}
